<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>校園車輛管制系統</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var namespace = '/ns_mqtt';
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        socket.on('update', function(test) {
            /*$('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg-8 > .card > .table-stats.order-table.ov-h > .table > tbody ').children().remove();
            for(var i=0;i<msg.length;i++){
                $('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg-8 > .card > .table-stats.order-table.ov-h > .table > tbody ').append('<tr><td class="serial">'+msg[i].id+'</td><td>'+msg[i].number_plate+'</td><td><span class="product">'+msg[i].get_entrytime()+'</span> </td><td><span class="product">'+msg[i].get_departtime()+'</span> </td><td><span class="product">'+msg[i].get_passedtime()+'</span></td><td><span class="badge badge-complete">'+msg[i].get_status()+'</span></td></tr>');
            }*/
            console.log(test);
        });
        socket.on('mqtt_message', function(msg) {      
            if(msg.status=="in"){
                $('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg > #in.card > .card-body > .mx-auto.d-block > h3 ').first().text(msg.carplate);
                $('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg > #in.card > .card-body > .mx-auto.d-block > h5 ').first().text(msg.time);
            }else if(msg.status=="out"){
                $('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg > #out.card > .card-body > .mx-auto.d-block > h3 ').first().text(msg.carplate);
                $('#right-panel.right-panel > .content > .animated.fadeIn > .row > .col-lg > #out.card > .card-body > .mx-auto.d-block > h5 ').first().text(msg.time);
            }
            console.log(msg);
        });

    });
    
    </script>  
   <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{{ url_for('index') }}"><i class="menu-icon fa fa-laptop"></i>總覽</a>
                    </li>
                    <li class="menu-title">統計</li><!-- /.menu-title -->
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>長期占留車輛</a>
                        <ul class="sub-menu children dropdown-menu">
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- /#left-panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
            <!-- Header-->
            <header id="header" class="header">
                <div class="top-left">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ url_for('index') }}">校園車輛管制系統</a>
                        <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
                <div class="top-right">
                    <div class="header-menu">
                        <div class="header-left">
                            <button class="search-trigger"><i class="fa fa-search"></i></button>
                            <div class="form-inline">
                                <form class="search-form">
                                    <input class="form-control mr-sm-2" type="text" placeholder="搜尋車牌 ..." aria-label="Search">
                                    <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                                </form>
                            </div>
                            {% if current_user.is_anonymous %}
                            <a class="text-secondary" href="{{ url_for('login') }}">登入</a>
                            {% else %}
                            <div class="user-area dropdown float-right">
                                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="user-avatar rounded-circle" src="{{ url_for('static', filename='images/admin.jpg') }}" alt="User Avatar">
                                    </a>
            
                                    <div class="user-menu dropdown-menu">
                                        <a class="nav-link" href="#"><i class="fa fa- user"></i>修改後台密碼</a>
                                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>設定</a>
                                        <a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-power -off"></i>登出</a>
                                    </div>
                                </div>
                            {% endif %}
                            
                        </div> 
                    </div>
                </div>
            </header>
            <!-- /#header -->
            <!-- Content -->
            <div class="content">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">校內車輛占留時間</strong>
                                </div>
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                            <tr>
                                                <th class="serial">#</th>
                                                <th>車號</th>
                                                <th>進場時間</th>
                                                <th>離場時間</th>
                                                <th>經過時間</th>
                                                <th>滯留狀態</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for c in car %}
                                            <tr>
                                                <td class="serial">{{ car.index(c)+1 }}</td>
                                                <td> {{ c.number_plate }} </td>
                                                <td><span class="product">{{ c.get_entrytime() }}</span> </td>
                                                <td><span class="product">{{ c.get_departtime() }}</span> </td>
                                                <td><span class="product">{{ c.get_passedtime() }}</span></td>
                                                <td>
                                                    {% if c.get_status() >= 1 %}
                                                    <span class="badge badge-pending">過久</span>
                                                    {% else %}
                                                    <span class="badge badge-complete">正常</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div>
                        <div class="col-lg">
                            <div id="in" class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">最近進場車輛</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <h3 class="text-sm-center mt-2 mb-1">{{ car[-1].number_plate }}</h3>
                                        <hr>
                                        <h5 class="text-sm-center mt-2 mb-1">{{ car[-1].get_entrytime() }}</h5>
                                        <div class="location text-sm-center"><i class="fa fa-map-marker"></i> 雲科校門口</div>
                                    </div>
                                </div>
                            </div><br>
                            <div id="out" class="card">
                                <div class="card-header">
                                    <strong class="card-title mb-3">最近離場車輛</strong>
                                </div>
                                <div class="card-body">
                                    <div class="mx-auto d-block">
                                        <h3 class="text-sm-center mt-2 mb-1">-</h3>
                                        <hr>
                                        <h5 class="text-sm-center mt-2 mb-1">-</h5>
                                        <div class="location text-sm-center"><i class="fa fa-map-marker"></i> 雲科校門口</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.content -->
    
            <div class="clearfix"></div>
            <!-- Footer -->
            <footer class="site-footer">
                <div class="footer-inner bg-white">
                    <div class="row">
                        <div class="col-sm-6">
                            Copyright &copy; 2018 Ela Admin
                        </div>
                        <div class="col-sm-6 text-right">
                            Designed by <a href="https://colorlib.com">Colorlib</a>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- /.site-footer -->
        </div>
        <!-- /#right-panel -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>
</html>
